.table-board-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.playerHandsContainer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 430px;

}


.playerHands {
    display: flex;
    flex-direction: row;
}

.playerHands .playerCard {
    width: 200px;
    height: 267px;
}

.dealerHandsContainer {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: 4px 3px 0 #7A7A7A;
    padding-right: 150px;
    padding-left: 630px;
}

.dealerHands {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dealerHands .dealerCard {
    width: 200px;
    height: 267px;
}

.dealerValue {
    position: absolute;
    top: 50%;
    right: 150px;
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: 4px 3px 0 #7A7A7A;
    justify-content: center;
    align-items: center;
}

.tableBoardContainerInner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-board-container .tableBoardContainerInner .hitButton{
    position: absolute;
    left: 15%;
    font-size: 30px;
}

.tableBoardContainerInner .standButton {
    position: absolute;
    right: 15%;
}

.tableBoardContainerInner button {
    width: 200px;
    height: 100px;
    font-size: 30px;
}

.table-board-container .playerHandsContainer .playerValue {
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: 4px 3px 0 #7A7A7A;
}

.table-board-container .tableBoardContainerInner .playerBet {
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: 4px 3px 0 #7A7A7A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

@media screen and (max-width: 390px) {
    .dealerHands  {
        position: absolute;
        top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .dealerHands .dealerCard {
        width: 100px;
        height: 134px;
    }

    .dealerHands .dealerValue {
        position: absolute;
        top: 150px;
        right: 150px;
        color: #FFFFFF;
        font-size: 20px;
        text-shadow: 4px 3px 0 #7A7A7A;
        justify-content: center;
        align-items: center;
    }

    .table-board-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 390px;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .playerHandsContainer {
        bottom: 80px;
        width: 390px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .playerHands {
        display: flex;
        flex-direction: row;
    }

    .playerHands .playerCard {
        width: 100px;
        height: 134px;
    }

    .table-board-container .playerHandsContainer .playerValue {
        color: #FFFFFF;
        font-size: 20px;
        text-shadow: 4px 3px 0 #7A7A7A;
        align-items: center;
    }

    .table-board-container .tableBoardContainerInner .hitButton button{
        font-size: 16px;
        width: 80px;
        height: 40px;
    }

    .table-board-container .tableBoardContainerInner .standButton button{
        font-size: 16px;
        width: 80px;
        height: 40px;
    }

    .table-board-container .tableBoardContainerInner .playerBet {
        position: absolute;
        top: 30%;
        color: #FFFFFF;
        font-size: 30px;
        text-shadow: 4px 3px 0 #7A7A7A;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .playerHandsContainer .bankAfterBet {
        position: absolute;
        top: -120px;
        color: #FFFFFF;
        font-size: 30px;
        text-shadow: 4px 3px 0 #7A7A7A;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}
